@CHARSET "UTF-8";
html,body{
	height:100%;
	width:100%;
	font-size:26px;
	font-family:"MSゴシック",sans-serif;
}
.title{
	width: 680px;
	height: 100px;
	margin-top: 120px;
	margin-left: 30%;
}
.menuform{
	width: 800px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
}
.menu{
	width: 600px;
	height: 300px;
	margin: 10px auto;
	text-align: center;
}
.menu_border{
	border-bottom:1px solid #000000;
}
.BT{
	width: 160px;
	height: 60px;
	font-size:26px;
}